.hamburger
	&__span
		position: fixed
		display: flex
		flex-direction: column
		justify-content: space-between
		align-items: center
		top: 25px
		right: 18px
		width: 66px
		height: 40px
		z-index: 3
		cursor: pointer	
		span 
			width: 66px
			height: 6px
			background: $blue_color
			border-radius: 14px
			&:nth-child(2)
				width: 46px

@media (max-width: 319.98px)

	.hamburger
		display: none