$blue_color: rgb(19, 54, 118)
$semi_blue_color: rgb(217, 220, 236)
$black_color: rgb(0, 0, 0)
$white_color: rgb(255, 255, 255)
$semi_black_color: rgb(34, 34, 34)

$font-size_40-32: calc(32px + (40 - 32) * (100vw - 320px) / (1920 - 320))	
$font-size_30-20: calc(20px + (30 - 20) * (100vw - 320px) / (1920 - 320)) 
$font-size_18-13: calc(13px + (18 - 13) * (100vw - 320px) / (1920 - 320))  
$font-size_26-18: calc(18px + (26 - 18) * (100vw - 320px) / (1920 - 320))
$font-size_24-14: calc(14px + (24 - 14) * (100vw - 320px) / (1920 - 320))
$font-size_20-12: calc(12px + (20 - 12) * (100vw - 320px) / (1920 - 320))



// $font-size_24-18: calc(18px + (24 - 18) * (100vw - 320px) / (992 - 320))
// $font-size_24-16: calc(16px + (24 - 16) * (100vw - 320px) / (1920 - 320))
// $font-size_22-21: calc(21px + (22 - 21) * (100vw - 768px) / (1920 - 768)) 
// $font-size_22-19: calc(19px + (22 - 19) * (100vw - 320px) / (768 - 320))

// $font-size_18-11: calc(11px + (18 - 11) * (100vw - 320px) / (1920 - 320)) 
// $font-size_15-12: calc(12px + (15 - 12) * (100vw - 992px) / (1920 - 992))
// $font-size_15-9: calc(9px + (15 - 9) * (100vw - 320px) / (1920 - 320))
// $font-size_14-12: calc(12px + (14 - 12) * (100vw - 320px) / (1920 - 320)) 
// $font-size_14-12_2: calc(12px + (14 - 12) * (100vw - 320px) / (576 - 320))
// $font-size_13-12: calc(12px + (13 - 12) * (100vw - 576px) / (1920 - 576))
// $font-size_13-10: calc(10px + (13 - 10) * (100vw - 320px) / (1920 - 320))

// $line-height_60-40: calc(40px + (60 - 40) * (100vw - 320px) / (1920 - 320))
// $line-height_36-24: calc(24px + (36 - 24) * (100vw - 320px) / (1920 - 320))
// $line-height_21-17: calc(17px + (21 - 17) * (100vw - 320px) / (1920 - 320))

// $width_528-272: calc(272px + (528 - 272) * (100vw - 320px) / (576 - 320))
// $width_492-482: calc(482px + (492 - 482) * (100vw - 576px) / (768 - 576))
// $width_480-270: calc(270px + (480 - 270) * (100vw - 992px) / (1920 - 992))
// $width_324-322: calc(322px + (324 - 322) * (100vw - 768px) / (992 - 768))
// $width_260-190: calc(190px + (260 - 190) * (100vw - 320px) / (1920 - 320))
// $width_172-140: calc(140px + (172 - 140) * (100vw - 320px) / (1920 - 320)) 
// $width_116-86: calc(86px + (116 - 86) * (100vw - 320px) / (1920 - 320))

// $height_900-503: calc(506px + (900 - 506) * (100vw - 320px) / (1920 - 320))
// $height_800-500: calc(500px + (800 - 500) * (100vw - 320px) / (1920 - 320))
// $height_716-416: calc(416px + (716 - 416) * (100vw - 320px) / (1920 - 320))
// $height_485-120: calc(120px + (485 - 120) * (100vw - 320px) / (1920 - 320))
// $height_240-120: calc(120px + (240 - 120) * (100vw - 320px) / (1920 - 320)) 
// $height_116-50: calc(86px + (116 - 86) * (100vw - 320px) / (1920 - 320))
// $height_64-50: calc(40px + (64 - 40) * (100vw - 320px) / (1920 - 320))
// $height_45-22: calc(22px + (45 - 22) * (100vw - 320px) / (1920 - 320))       