.theory-slide
	display: flex	
	padding: 50px
	width: 100%
	// height: 100vh
	&__wrapper
	display: flex
	flex-direction: column
	justify-items: center
	width: 100%
	height: 100%
	// background-color: $semi_blue_color
	h1
		text-align: center
		margin-bottom: 30px
		font-size: 40px
	h3
		text-align: center
		margin-bottom: 30px
		font-size: 26px
	h4
		text-align: center
		margin-top: 20px
		margin-bottom: 40px	
		font-weight: 600
		font-size: 20px
	&__text
		font-size: 26px	
	p
		font-size: 26px	
	&__img-block
		display: flex
		justify-content: space-around	
	&__img
		&_mod
			width: 400px
			height: 370px
		&_mod1
			width: 340px
			height: 180px
		&_mod2
			width: 460px
			height: 500px
		&_mod3
			width: 400px
			height: 300px
		&_mod4
			width: 400px
			height: 200px
		&_mod5
			width: 200px
			height: 100px
		&_mod6
			width: 200px
			height: 200px		
	&__lists
		display: flex
		flex-direction: row
		justify-content: space-around
		font-size: 26px
	&__list
		font-size: 26px	

@media (max-width: 1919.98px)
	.theory-slide
		&__wrapper
		h1
			font-size: $font-size_40-32
		h3
			font-size: $font-size_26-14
		h4			
			font-size: $font-size_20-12
		&__text
			font-size: $font-size_26-14	
		p
			font-size: $font-size_26-14			
		&__lists
			font-size: $font-size_26-14
		&__list
			font-size: $font-size_26-14	